{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ object.title }} - Blog{% endblock %}

{% block content %}
<header class="mb-4">
    <!-- Post title -->
    <h1>{{ object.title }}</h1>

    {% if object.category %}
    <span class="badge bg-primary pull-right">{{ object.category }}</span>
    {% else %}
    <span class="badge bg-primary pull-right">미분류</span>
    {% endif %}

    <!-- Author -->
    <p class="lead">
        by
        <a href="#">{{ object.author.username }}</a>
    </p>

    <hr>
    <!-- Date/Time -->
    {% if request.user == object.author %}
    <button type="button" class="btn btn-sm btn-outline-secondary pull-right" onclick="location.href='{{ object.get_update_url }}'">EDIT</button>
    {% endif %}
    <p>Posted on {{ object.created }} </p>
    <hr>

</header>
<!-- Preview image figure-->
{% if object.head_image %}
<img class="img-fluid rounded" src="{{ object.head_image.url }}" alt="{{ object.title }}" />
{% endif %}

<!-- Post content-->
{{ object.get_markdown_content | safe}}

<br/>
{% for tag in object.tags.all %}
<a href="{{ tag.get_absolute_url }}" style="text-decoration:none">  #{{ tag }}  </a>
{% endfor %}

<hr>

<!-- Comments section-->
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            <div class="card mb-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form method="post" action="{{ object.get_absolute_url }}new_comment/">{% csrf_token %}
                        <div class="form-group">
                            {{ comment_form | crispy }}
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </form>
                </div>

                <div id="comment-list">
                    {% for comment in object.comment_set.all %}
                    <div class="media mb-4" id="comment-id-{{ comment.pk }}">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">{{ comment.author }}</h5>
                            {{ comment.get_markdown_content | safe }}
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Comment with nested comments-->
                <div class="d-flex mb-4">
                    <!-- Parent comment-->
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">Commenter Name</div>
                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                        <!-- Child comment 1-->
                        <div class="d-flex mt-4">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                            </div>
                        </div>
                        <!-- Child comment 2-->
                        <div class="d-flex mt-4">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                When you put money directly to a problem, it makes a good headline.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</section>